In [14]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 99

### Reading in first 5 rows to inspect data:

In [5]:
df = pd.read_csv("loans_2007.csv", nrows=5)
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

### Calculating the memory usage of 1000 rows in MB:

In [7]:
df = pd.read_csv("loans_2007.csv", nrows=1000)
df.memory_usage(deep=True).sum() / 1024 ** 2

1.5502090454101562

### Determining how many rows we can pull to stay under 5 MB:

In [10]:
memory = 0 
rowcount = 1000
while memory < 5:
    df = pd.read_csv("loans_2007.csv", nrows = rowcount)
    oldmemory = memory
    memory = df.memory_usage(deep=True).sum() / 1024 ** 2
    rowcount += 100

print(oldmemory, rowcount)

4.959044456481934 3400

### Find total rows in data set and start data processing in chunks:

In [13]:
c_iter = pd.read_csv("loans_2007.csv", chunksize=3400)
numrows = 0
for c in c_iter:
    numrows += len(c)
print(numrows)

42538

### Find out how many columns have a numeric and string types:

In [17]:
c_iter = pd.read_csv("loans_2007.csv", chunksize=3400)
nums = []
strings = []
for c in c_iter:
    nums.append(c.select_dtypes(include=[np.number]).shape[1])
    strings.append(c.select_dtypes(include=["object"]).shape[1])
print(nums)
print(strings)

[31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 30, 30]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22]

### How many unique values are in each string column?

In [44]:
c_iter = pd.read_csv("loans_2007.csv", chunksize=3400)
unique_counts = {}
for c in c_iter:
    str_objs = c.select_dtypes(include=["object"])
    columns = str_objs.columns
    for col in columns:
        if col in unique_counts:
            unique_counts[col] += c[col].value_counts()
        else:
            unique_counts[col] = c[col].value_counts()
unique_counts

{'addr_state': CA    7429.0
 NY    4065.0
 FL    3104.0
 TX    2915.0
 NJ    1988.0
 IL    1672.0
 GA    1503.0
 PA    1651.0
 VA    1487.0
 OH    1329.0
 WA     888.0
 MA    1438.0
 NC       NaN
 MD    1125.0
 AZ     933.0
 MO     765.0
 CT     816.0
 CO     857.0
 MN     652.0
 WI     516.0
 OR     468.0
 MI     796.0
 NV     527.0
 AL     484.0
 LA     461.0
 SC     489.0
 UT     278.0
 KY     359.0
 AR     261.0
 OK     317.0
 KS       NaN
 HI     181.0
 RI     208.0
 DC     224.0
 AK      86.0
 NH     188.0
 SD      67.0
 WV     187.0
 NM     205.0
 MT      96.0
 VT      57.0
 DE     136.0
 WY      87.0
 Name: addr_state, dtype: float64, 'application_type': INDIVIDUAL    42535
 Name: application_type, dtype: int64, 'earliest_cr_line': Oct-2000    370.0
 Apr-2000    266.0
 Nov-1998    390.0
 Nov-2000    340.0
 Jan-2000    300.0
 May-2000    265.0
 Nov-1999    337.0
 Dec-1998    366.0
 Oct-1999    393.0
 Feb-2000    239.0
 Oct-2003    264.0
 Sep-1998    267.0
 Aug-2000    283.0
 Dec-2001    233.0
 Aug-1999    259.0
 Sep-2000    325.0
 Jul-2000    287.0
 Jan-2001    258.0
 Feb-2005    137.0
 Oct-2005    186.0
 Dec-1999    303.0
 Nov-2003    233.0
 Jul-2006    107.0
 Jun-2002    127.0
 Dec-2000    298.0
 Oct-2002    282.0
 Nov-2004    187.0
 Jul-2001    190.0
 Mar-2000    230.0
 Oct-2001    279.0
             ...
 Jul-1980      NaN
 Apr-1984      NaN
 Apr-1983      NaN
 Dec-1973      NaN
 Mar-1980      NaN
 Apr-1986      NaN
 Sep-1976      NaN
 Sep-1962      NaN
 Aug-1980      NaN
 Oct-1980      NaN
 Apr-1985      NaN
 May-1984     39.0
 Feb-1965      NaN
 May-1989     47.0
 Dec-1976      NaN
 Mar-1970      NaN
 Mar-1978      NaN
 Sep-1971      NaN
 Sep-1967      NaN
 Jan-1978      NaN
 Mar-1969      NaN
 Nov-1970      NaN
 Mar-1984      NaN
 Nov-1982      NaN
 May-1978      NaN
 Sep-1981      NaN
 Aug-1982      NaN
 Jun-1975      NaN
 May-1979      NaN
 Oct-1982      NaN
 Name: earliest_cr_line, Length: 378, dtype: float64, 'emp_length': 10+ years    9369
 2 years      4743
 5 years      3458
 < 1 year     5062
 4 years      3649
 3 years      4364
 6 years      2375
 1 year       3595
 7 years      1875
 8 years      1592
 9 years      1341
 Name: emp_length, dtype: int64, 'emp_title': Kaiser Permanente                            61.0
 US Army                                     139.0
 IBM                                          72.0
 U.S. Army                                    42.0
 Wells Fargo                                  57.0
 Walmart                                      47.0
 AT&T                                          NaN
 Target                                        NaN
 US Navy                                       NaN
 USAF                                         56.0
 Department of Defense                         NaN
 JP Morgan Chase                               NaN
 United States Air Force                      48.0
 UPS                                          58.0
 Bank of America                             115.0
 ADP                                           NaN
 State of California                          45.0
 USPS                                          NaN
 Social Security Administration                NaN
 Comcast                                       NaN
 United States Army                            NaN
 costco                                        NaN
 walmart                                       NaN
 walgreens                                     NaN
 Texas A&M University                          NaN
 US Bank                                       NaN
 Department of Veterans Affairs                NaN
 Multiband                                     NaN
 US Army Corps of Engineers                    NaN
 General Motors                                NaN
                                             ...
 wilson ford and lovelace law officce          NaN
 Medical Associates of Brevard                 NaN
 melick-tully and assoc                        NaN
 Printpack                                     NaN
 Daland Corp                                   NaN
 Tampa Bay Storm                               NaN
 St john hospital                              NaN
 Integra Realty Resources                      NaN
 Medical interventions, also Phoenix phys      NaN
 Insight Global                                NaN
 YCOM                                          NaN
 Barnes and Noble College                      NaN
 medialink                                     NaN
 White's Lumber                                NaN
 Palm Beach County                             NaN
 Catholic Healthcare West                      NaN
 Kohl's Department Stores                      NaN
 jellco container inc                          NaN
 City of San Francisco                         NaN
 Universiry of Pittsburgh                      NaN
 John Deere                                    NaN
 MAll SPE, LLC                                 NaN
 American Search Partners/ The Wellington      NaN
 gap inc                                       NaN
 Six Flags Discovery Kingdom                   NaN
 Battelle                                      NaN
 shell Oil                                     NaN
 Seminole County Public Schools                NaN
 Beam, Inc.                                    NaN
 Brenner Aerostructures                        NaN
 Name: emp_title, Length: 2988, dtype: float64, 'grade': B    12389
 A    10183
 C     8740
 D     6016
 E     3394
 F     1301
 G      512
 Name: grade, dtype: int64, 'home_ownership': RENT        20181.0
 MORTGAGE    18959.0
 OWN          3251.0
 Name: home_ownership, dtype: float64, 'id': 130907   NaN
 223626   NaN
 613208   NaN
 505861   NaN
 381527   NaN
 323288   NaN
 603448   NaN
 349409   NaN
 490684   NaN
 587039   NaN
 531179   NaN
 352172   NaN
 549803   NaN
 607126   NaN
 504709   NaN
 470532   NaN
 332927   NaN
 199055   NaN
 637432   NaN
 259414   NaN
 582355   NaN
 232947   NaN
 353641   NaN
 346532   NaN
 509010   NaN
 585404   NaN
 120374   NaN
 379346   NaN
 487670   NaN
 267477   NaN
           ..
 364009   NaN
 358702   NaN
 358421   NaN
 237880   NaN
 577908   NaN
 378253   NaN
 570411   NaN
 356330   NaN
 277895   NaN
 356431   NaN
 311447   NaN
 618615   NaN
 609015   NaN
 364454   NaN
 379597   NaN
 374485   NaN
 480946   NaN
 113156   NaN
 543065   NaN
 346566   NaN
 354261   NaN
 576615   NaN
 379463   NaN
 315196   NaN
 372591   NaN
 139057   NaN
 222829   NaN
 484114   NaN
 472835   NaN
 357873   NaN
 Name: id, Length: 3400, dtype: float64, 'initial_list_status': f    42535
 Name: initial_list_status, dtype: int64, 'int_rate':  11.71%   NaN
  12.69%   NaN
  12.42%   NaN
   7.90%   NaN
  13.49%   NaN
  14.27%   NaN
  10.65%   NaN
   9.91%   NaN
   8.90%   NaN
   6.62%   NaN
  16.77%   NaN
   6.03%   NaN
   7.51%   NaN
  14.65%   NaN
  15.27%   NaN
  17.27%   NaN
  15.96%   NaN
  17.58%   NaN
  16.29%   NaN
  18.25%   NaN
  19.03%   NaN
  18.64%   NaN
  19.42%   NaN
  20.30%   NaN
  19.91%   NaN
  20.89%   NaN
  21.28%   NaN
  21.67%   NaN
  22.06%   NaN
  22.35%   NaN
  22.74%   NaN
  23.52%   NaN
  23.91%   NaN
  23.13%   NaN
   6.00%   NaN
  24.11%   NaN
 Name: int_rate, dtype: float64, 'issue_d': Dec-2011   NaN
 Nov-2011   NaN
 Name: issue_d, dtype: float64, 'last_credit_pull_d': Jun-2016    12492.0
 Dec-2014      567.0
 Jan-2015      447.0
 Feb-2016      740.0
 Mar-2016     1115.0
 Apr-2016      912.0
 Nov-2014      500.0
 May-2016      766.0
 Dec-2015      656.0
 Jan-2016      664.0
 Sep-2015      531.0
 Feb-2014      544.0
 Feb-2013      883.0
 Oct-2014      529.0
 Mar-2014      567.0
 Jul-2015      547.0
 Oct-2013      429.0
 Mar-2015      382.0
 Nov-2015      516.0
 Apr-2014      507.0
 Apr-2015      404.0
 Nov-2013      491.0
 Oct-2015      513.0
 May-2014      477.0
 Aug-2014      528.0
 Mar-2013      611.0
 Sep-2013      408.0
 Jul-2013      407.0
 Jan-2014      529.0
 Sep-2014      564.0
 Jun-2014      469.0
 May-2013      470.0
 Jun-2015      384.0
 Aug-2015      435.0
 Sep-2012      414.0
 May-2015      433.0
 Dec-2013      431.0
 Aug-2012      391.0
 Feb-2015      370.0
 Dec-2012      391.0
 Jun-2013      387.0
 Jul-2014      566.0
 Apr-2013      445.0
 Aug-2013      375.0
 Nov-2012      432.0
 Jul-2012      312.0
 Jun-2012      323.0
 Oct-2012      351.0
 Feb-2012      388.0
 May-2012      341.0
 Mar-2012      370.0
 Apr-2012      326.0
 Jan-2012      272.0
 Dec-2011      268.0
 Nov-2011      221.0
 Name: last_credit_pull_d, dtype: float64, 'last_pymnt_d': Dec-2014       NaN
 Jun-2016       NaN
 Jan-2015       NaN
 Oct-2014       NaN
 Feb-2014       NaN
 Oct-2013       NaN
 Sep-2013       NaN
 Jun-2014       NaN
 May-2014       NaN
 Aug-2012     868.0
 Jul-2014       NaN
 Oct-2012     853.0
 Mar-2013    1070.0
 Nov-2013     701.0
 Mar-2014       NaN
 Apr-2014       NaN
 Aug-2014       NaN
 Jan-2014       NaN
 Dec-2013       NaN
 Sep-2014       NaN
 Dec-2012     732.0
 Apr-2013       NaN
 May-2013       NaN
 Aug-2013       NaN
 Jul-2013       NaN
 Jun-2013       NaN
 Feb-2013       NaN
 Nov-2014       NaN
 Sep-2012     802.0
 Jan-2013     826.0
 Nov-2012     782.0
 May-2012     773.0
 Jul-2012     774.0
 Apr-2012     781.0
 Jun-2012     737.0
 Mar-2012     893.0
 Feb-2012     781.0
 Jan-2012     575.0
 Feb-2015       NaN
 Mar-2016       NaN
 Apr-2015       NaN
 May-2015       NaN
 May-2016       NaN
 Nov-2015       NaN
 Feb-2016       NaN
 Jun-2015       NaN
 Aug-2015       NaN
 Dec-2015       NaN
 Mar-2015       NaN
 Jan-2016       NaN
 Sep-2015       NaN
 Jul-2015       NaN
 Oct-2015       NaN
 Apr-2016       NaN
 Dec-2011     585.0
 Name: last_pymnt_d, dtype: float64, 'loan_status': Fully Paid           NaN
 Charged Off          NaN
 Current              NaN
 In Grace Period      NaN
 Late (16-30 days)    NaN
 Late (31-120 days)   NaN
 Name: loan_status, dtype: float64, 'purpose': debt_consolidation    19776.0
 credit_card            5477.0
 other                  4425.0
 home_improvement       3199.0
 small_business         1992.0
 major_purchase         2311.0
 car                    1615.0
 wedding                1004.0
 medical                 753.0
 moving                  629.0
 vacation                400.0
 house                   426.0
 renewable_energy          NaN
 Name: purpose, dtype: float64, 'pymnt_plan': n    42534.0
 Name: pymnt_plan, dtype: float64, 'revol_util': 0%       1070.0
 74.9%       NaN
 78.7%      58.0
 66.5%       NaN
 82.7%      47.0
 69.5%      42.0
 63.2%      41.0
 70.3%       NaN
 93.1%       NaN
 81.3%       NaN
 66.9%       NaN
 60.1%      49.0
 92.5%       NaN
 75.5%       NaN
 69.3%       NaN
 91%         NaN
 89.8%       NaN
 83.7%      47.0
 93.9%       NaN
 85.7%       NaN
 80.3%       NaN
 52.4%      52.0
 66.6%      62.0
 81.5%       NaN
 55.5%      56.0
 73.2%       NaN
 70.8%      55.0
 66.7%      59.0
 52.2%       NaN
 68.1%       NaN
           ...
 4.9%        NaN
 30.7%       NaN
 64.7%      50.0
 20.8%      36.0
 14.7%       NaN
 84%        41.0
 17.4%       NaN
 97.9%       NaN
 23.8%       NaN
 0.1%       61.0
 3.8%        NaN
 18.4%       NaN
 44.7%       NaN
 8.1%        NaN
 75.8%       NaN
 48.2%      55.0
 19.1%       NaN
 17.2%       NaN
 20.4%       NaN
 26.1%       NaN
 9.3%        NaN
 53.1%      40.0
 45.5%      42.0
 44%        35.0
 20.1%       NaN
 39.7%      49.0
 0.12%       NaN
 46.2%      49.0
 8.9%        NaN
 39.3%       NaN
 Name: revol_util, Length: 919, dtype: float64, 'sub_grade': B3    2997.0
 B5    2807.0
 B4    2590.0
 A4    2905.0
 C1    2264.0
 C2    2157.0
 B2    2113.0
 B1    1882.0
 A5    2793.0
 A2    1520.0
 D2    1485.0
 A3    1823.0
 A1    1142.0
 C3    1658.0
 C4    1370.0
 D3    1322.0
 C5    1291.0
 D4    1140.0
 D1    1053.0
 D5    1016.0
 E1     884.0
 E2     791.0
 E3     668.0
 E5     499.0
 E4     552.0
 F1     392.0
 F2     308.0
 F3     236.0
 F4     211.0
 F5     154.0
 G1     141.0
 G3       NaN
 G4      99.0
 G2     107.0
 G5       NaN
 Name: sub_grade, dtype: float64, 'term':  36 months    31534.0
  60 months        NaN
 Name: term, dtype: float64, 'title': Debt Consolidation Loan           1760.0
 Debt Consolidation                2259.0
 Credit Card Loan                     NaN
 Consolidation                      547.0
 debt consolidation                 532.0
 Debt consolidation                 347.0
 Credit Card Consolidation          370.0
 Personal Loan                      708.0
 Other Loan                           NaN
 Small Business Loan                333.0
 Credit Card                        124.0
 Personal                           330.0
 Home Improvement                   373.0
 Home Improvement Loan              255.0
 Credit Card Payoff                 164.0
 consolidation                      217.0
 Car Loan                           206.0
 Credit Card Refinance                NaN
 personal loan                      266.0
 debt_consolidation                   NaN
 Other                                NaN
 Wedding Loan                       217.0
 payoff                               NaN
 Consolidation Loan                 264.0
 credit card consolidation            NaN
 Medical                              NaN
 Consolidate                        141.0
 Loan                               218.0
 Major Purchase Loan                  NaN
 Wedding                            160.0
                                    ...
 New business start-up                NaN
 Debt Consolidation 1                 NaN
 auto loan with copart                NaN
 Initial Loan                         NaN
 Debt cosolidation                    NaN
 Car loan                             NaN
 Pay Back                             NaN
 remodel                              NaN
 My Smart loan                        NaN
 Fresh Start Loan                     NaN
 Loan-all credit cards                NaN
 Credit card loan                     NaN
 WEDDING LOAN                         NaN
 lower interest                       NaN
 Stratos                              NaN
 Basement                             NaN
 CCPayoff                             NaN
 Consolidate debt                     NaN
 Debt/Credit Card Consolidation       NaN
 crf450                               NaN
 Viking Pool                          NaN
 December 2011 Credit Card Loan       NaN
 CREDIT CARD DEBT                     NaN
 Replace Credit Card                  NaN
 Wedding planning loan                NaN
 Pay off Credit                       NaN
 Personal needs                       NaN
 Unepected expense                    NaN
 Credit card payment loans            NaN
 Freedom                              NaN
 Name: title, Length: 1577, dtype: float64, 'verification_status': Verified           13471
 Not Verified       18758
 Source Verified    10306
 Name: verification_status, dtype: int64, 'zip_code': 100xx    649.0
 900xx    478.0
 606xx    548.0
 945xx    559.0
 112xx    538.0
 070xx    503.0
 113xx    297.0
 331xx    380.0
 300xx    436.0
 921xx    360.0
 750xx    392.0
 917xx    369.0
 770xx    351.0
 330xx    284.0
 951xx    234.0
 303xx    239.0
 926xx    387.0
 925xx    243.0
 117xx    316.0
 928xx    222.0
 021xx    416.0
 334xx    257.0
 941xx    363.0
 080xx    265.0
 852xx    299.0
 104xx    221.0
 920xx    232.0
 891xx    273.0
 913xx    295.0
 201xx    241.0
          ...
 806xx      NaN
 198xx     38.0
 811xx      NaN
 647xx      NaN
 744xx      NaN
 188xx      NaN
 299xx     26.0
 052xx      NaN
 148xx     29.0
 137xx      NaN
 037xx      NaN
 625xx      NaN
 158xx      NaN
 743xx      NaN
 263xx      NaN
 565xx      NaN
 219xx      NaN
 754xx      NaN
 936xx     46.0
 246xx      NaN
 116xx      NaN
 261xx      NaN
 538xx      NaN
 499xx      NaN
 596xx      NaN
 648xx      NaN
 214xx      NaN
 571xx      NaN
 816xx     37.0
 827xx      NaN
 Name: zip_code, Length: 593, dtype: float64}

### Find string columns that contain less than 50% unique values to identify candidates for conversion to category data type:

In [65]:
category_columns = []

for col in unique_counts.keys():
    #print(col)
    #print(unique_counts[col].size)
    #print(unique_counts[col].sum())
    unique_count = unique_counts[col].size
    total_count = unique_counts[col].sum()
    
    if total_count != 0 and unique_count / total_count < .5:
        category_columns.append((col, unique_count))
        
for row in category_columns:
    print(row)

('verification_status', 3)
('emp_length', 11)
('revol_util', 919)
('pymnt_plan', 1)
('grade', 7)
('last_credit_pull_d', 55)
('sub_grade', 35)
('home_ownership', 3)
('earliest_cr_line', 378)
('purpose', 13)
('addr_state', 43)
('zip_code', 593)
('title', 1577)
('last_pymnt_d', 55)
('application_type', 1)
('initial_list_status', 1)
('term', 2)

### Find which floats have no missing values and could be candidates to convert to integers:

In [70]:
c_iter = pd.read_csv("loans_2007.csv", chunksize=3400)

null_counts_combined = []
for c in c_iter:
    null_counts_combined.append(c.select_dtypes(include=["float"]).isnull().sum())
null_counts_overall = pd.concat(null_counts_combined)
null_counts_overall.groupby(null_counts_overall.index).sum()

acc_now_delinq                  32
annual_inc                       7
chargeoff_within_12_mths       148
collection_recovery_fee          3
collections_12_mths_ex_med     148
delinq_2yrs                     32
delinq_amnt                     32
dti                              3
funded_amnt                      3
funded_amnt_inv                  3
inq_last_6mths                  32
installment                      3
last_pymnt_amnt                  3
loan_amnt                        3
member_id                        3
open_acc                        32
out_prncp                        3
out_prncp_inv                    3
policy_code                      3
pub_rec                         32
pub_rec_bankruptcies          1368
recoveries                       3
revol_bal                        3
tax_liens                      108
total_acc                       32
total_pymnt                      3
total_pymnt_inv                  3
total_rec_int                    3
total_rec_late_fee               3
total_rec_prncp                  3
dtype: int64

### Calculate the total memory usage across all chunks:

In [74]:
c_iter = pd.read_csv("loans_2007.csv", chunksize=3400)
mem_list = []
for c in c_iter:
    mem_list.append(c.memory_usage(deep=True).sum())
sum(mem_list) / 1024 ** 2

66.29912662506104